.article {
    padding: 0 0 70px 0;
}
p{
    margin-bottom: 20px;
}
.article p, .company-text p {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    color: #303030;
}

.article a, .company-text a {
    text-decoration: underline;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
}

.article .circle:before {
    content: '•';
    padding-right: 20px;
    padding-left: 10px;
}

.article h3 {
    font-size: 20px;
    font-weight: 600;
}

.article h4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
}

.article ul {
    padding-left: 0;
}

.article ul li {
    list-style-type: none;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    color: #303030;
    padding-left: 40px;
    position: relative;
}

.article ul li:before {
    content: '•';
    position: absolute;
    left: 15px;
}

.article .title-bold {
    font-weight: 600;
}

.articles {
    padding-bottom: 50px;
}

.article-item .title {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.57;
    text-decoration: underline;
    color: #303030;
}

.article-item:hover {
    background-color: #f1f1f1;
}

.article-item {
    padding-top: 18px;
    padding-bottom: 18px;
}

.article-item .desc p {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    line-height: 1.57;
    color: #303030;
    margin: 0;
}
