p{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #303030;
}
.complaint-form {
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px 0 rgba(132, 132, 132, 0.5);
    padding: 32px 75px 70px 65px;
    margin-bottom: 70px;
}
.wrapper-content {
    position: relative;
    width: 100%;
    max-width: 521px;
}
.wraper-phone{
    margin-top: 30px;
    padding-left: 45px;
}

.tel {
    font-family: Roboto, sans-serif;
    color: #4a90e2;
    font-size: 18px;
    text-decoration: underline;
}

.complaint .tel-info{
    padding-left: 30px;
}


@media only screen and (max-width: 992px) {

    .wrapper-content {
        max-width: 400px;
    }

    .wraper-phone p{
        font-size: 15px;
    }

    .wraper-phone .tel{
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {

    .tel-info {
        margin-bottom: 70px;
    }

    .complaint-form {
        margin-bottom: 0;
    }

    .complaint p{
        font-family: Roboto, sans-serif;
        font-size: 18px;
        color: #303030;
    }

    .wrapper-content {
        margin: 0 auto;
    }

    .wraper-phone {
        margin: 25px auto;
        padding-left: 0;
        text-align: center;
    }
}

