.doc-text {
    margin-bottom: 310px;
}

.doc-text a {
    text-decoration: underline;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
}

.doc-text img {
    padding-left: 10px;
    padding-bottom: 5px;

}
@media only screen and (max-width: 340px) {

    .doc-text img {
        padding-left: 4px;
    }
}
