
.lease-background {
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    /*height: 462px;*/
}

.lease-background:before {
    content: ' ';
    display: block;
    position: absolute;
    left: -15px;
    top: -180px;
    width: 105%;
    height: 140%;
    z-index: 1;
    opacity: 0.4;
    background-image: url(../img/IMG_5206.jpg);
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.lease-background h3 {
    z-index: 2;
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    padding-top: 60px;
    color: #000000;
}

.lease-background ul li {
    z-index: 2;
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 1.67;
    color: #000000;
}

.lease-background ul li:before {
    content: url(../img/Shape.svg);
    padding-right: 7px;
}

.lease-background ul {
    margin: 0;
}

.lease-background .btn {
    z-index: 2;
    position: relative;
    border-radius: 40px;
    background-color: #2f46ab;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding: 13px 67px 15px 67px;
    float: left;
    margin-top: 30px;
    margin-bottom: 117px;
}

.lease-image {
    z-index: 2;
    position: absolute;
    top: 42px;
    right: 100px;
}

.machine {
    text-align: center;
}

.min-line {
    width: 140px;
    height: 2px;
    background: #e8e8e8;
    display: inline-block;
}

.machine img {
    display: inline-block;
    padding: 0 20px 0 20px;
}

.select-technology h3 {
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #000000;
    margin-top: 22px;
    margin-bottom: 30px;
}

.select-technology .btn {
    margin-top: 10px;
    padding-top: 4px;
    border-radius: 42px;
    background-color: #e8e8e8;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #000000;
    float: left;
    height: 66px;
}

.select-technology .btn:hover {
    background-color: #2f46ab;
    color: #ffffff;
}

.select-technology .lease-btn {
    padding-top: 17px;
    margin-left: 20px;
    margin-right: 20px;

}

.select-technology .lease-btn-width {
    width: 283px;
}

.main-desc-background {
    background-color: #e9f6ff;
    position: relative;
}

.main-desc-background .tangle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.main-desc-background .tangle img{
    width: 100%;
    position: absolute;
    bottom: -1px;
}

.main-desc{
    padding-bottom: 100px;
}
.main-desc h2 {
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #000000;
    padding-top: 9px;
    margin-bottom: 12px;
}
.main-desc p{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: justify;
    color: #000000;
    padding-bottom: 6px;
}
.main-desc .desc-images{
    padding-top: 69px;
    padding-left: 50px;
}
.main-desc .desc-images .desc-image:last-child{
    padding-top: 120px;
}
.main-desc .desc-image {
    position: relative;
}

.main-desc .image-text .white{
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
    color: #ffffff;
}
.main-desc .image-text .silver{
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #303030;
}

.main-desc .image-text .silver span{
    font-size: 50px;
}

.main-desc .units .white{
    position: absolute;
    width: 90px;
    top: 40px;
    left: 45px;

}
.main-desc .units p, .main-desc .technique p{
    padding: 0;
    margin: 0;
}
.main-desc .units .silver{
    position: absolute;
    top: 43px;
    right: 60px;
    width: 49px;
    text-align: center;
    line-height: 1;
}

.main-desc .technique .white{
    position: absolute;
    width: 100px;
    top: 155px;
    left: 50px;

}

.main-desc .technique .silver{
    position: absolute;
    top: 160px;
    right: 50px;
    width: 49px;
    text-align: center;
    line-height: 1;
}
.main-links{
    margin-bottom: 63px;
}
.main-links img{
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}
.main-links a{
    text-decoration: underline;
    display: block;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #303030;
    line-height: 1.2;
}

/*.discounts-background{*/
    /*background-image: url(../img/Rectangle13.svg);*/
    /*background-repeat: no-repeat;*/
    /*margin-bottom: 70px;*/
/*}*/
/*.discounts p{*/
    /*font-family: OpenSans, sans-serif;*/
    /*margin-bottom: 0;*/
    /*line-height: 1.2;*/
/*}*/
/*.discounts .platform-title{*/

    /*font-size: 28px;*/
    /*font-style: italic;*/
    /*color: #303030;*/
/*}*/
/*.discounts .platform{*/
    /*font-size: 24px;*/
    /*font-style: italic;*/
    /*color: #303030;*/
/*}*/
/*.discounts .blue{*/
    /*color: #2f46ab;*/
    /*font-size: 28px;*/
    /*font-weight: 600;*/
    /*font-style: italic;*/
/*}*/
/*.discounts .percentages-title{*/
    /*text-transform: uppercase;*/
    /*font-size: 45px;*/
    /*font-weight: 600;*/
    /*font-style: italic;*/
    /*color: #a2005d;*/
    /*position: relative;*/
    /*left: -7px;*/
/*}*/

/*.discounts .percentages{*/
    /*line-height: 1;*/
    /*font-size: 88px;*/
    /*text-transform: uppercase;*/
    /*font-weight: normal;*/
    /*font-style: italic;*/
    /*color: #a2005d;*/
/*}*/


.discounts {
    text-align: center;
    margin-bottom: 30px;
}
.padding-left-5{
    padding-left: 50px;
}


@media only screen and (max-width: 1260px) {

    .lease-image{
        right: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .select-technology .row img {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    .select-technology .lease-btn {
        margin-left: 10px;
        margin-right: 10px;

    }
}


@media only screen and (max-width: 1080px) {
    .lease-image{
        display: none;
    }
}

@media only screen and (max-width: 992px) {

    .select-technology .row img, .big-platform {
        display: none;
    }

    .select-technology .btn{
        padding-left: 0;
        padding-right: 0;
        width: 283px;
        float: initial;
        margin:  auto;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
    }
    .desc-images .desc-image:first-child{
        float: left;
    }
    .desc-images .desc-image:last-child{
        float: right;
        padding-top: 0!important;
    }
    .desc-images{
        padding-right: 10px;
        padding-left: 10px!important;
    }
    .desc-image .technique .white{
        top: 37px;

    }
    .desc-image .technique .silver{
        top: 40px;
        right: 45px;
    }

    .discounts .platform{
        font-size: 18px;
        padding-left: 0!important;
    }
    .discounts .blue{
        font-size: 20px;
    }
    .discounts .platform-title{
        font-size: 22px;
    }
    .discounts .percentages-title{
        font-size: 35px;
    }
    .discounts .percentages{
        font-size: 55px;
    }

}

@media only screen and (max-width: 768px) {

    .padding-left-5{
        padding-left: 0;
    }

    .discount-one{
        padding: 0;
    }

    .discounts{
        text-align: center;
    }

    .discounts-background{
        padding-top: 15px;
        padding-bottom: 15px;
        background-image: linear-gradient(to right, #e9f6ff, #d0e7ff 41%, #cce3ff 48%, #dbebff 57%, #d1e4ff 73%, #bad6ff 74%, #d3eaff);
    }

}


@media only screen and (max-width: 540px) {

    .desc-image{
        width: 246px;
        margin: 0 auto;
        float: initial!important;
        /*display: none;*/
    }

}

@media only screen and (max-width: 400px) {
    .min-line{
        width: 80px;
    }

}

@media only screen and (max-width: 300px) {
    .discounts img{
        width: 100%;
    }

}