
.nav-tabs {
    margin-top: 20px;
    border-bottom: solid 2px #c3c3c3;
}

.nav-tabs .nav-link {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    color: #303030 !important;
    padding: 16px 40px 16px 40px;
}

.nav-tabs .nav-link.active {
    background-color: #f4f4f4;
    font-weight: 600;
    border: none;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    cursor: pointer;
    border: none;
}

#platform .row {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(140, 140, 140, 0.5);
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 23px 20px 18px 57px;
    margin-left: 0;
    margin-right: 0;
}

#platform .title {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 5px;
}

#platform a {
    text-decoration: underline;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    color: #4a90e2;
}

#platform .btn {
    background-color: #2f46ab;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-left: 67px;
    padding-right: 67px;
    border-radius: 25.5px;
    margin-top: 140px;
}

#platform ul li {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    line-height: 1.86;
    color: #303030;
}

#platform .row img {
    height: 155px;
}

#platform .title-bold {
    font-weight: 600;
}

.table-responsive {
    margin-bottom: 30px;
}

.table-bordered td, .table-bordered th, .table thead th {
    border: solid 1px #979797;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #303030;
    text-align: center;
    padding: 18px 0 18px 0;
}

.table thead th {
    padding: 10px 0 10px 0;
}

table .platform img {
    padding-top: 40px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.table-bordered td {
    padding: 18px 70px 18px 70px;
}

#loader .description {
    font-size: 14px;
    padding-top: 12px;
    padding-left: 17px;
}

#loader p, #loader li {
    font-size: 16px;
}

#loader .table-bordered td {
    padding: 35px 70px 18px 70px;
}

#loader table img {
    margin-left: 60px;
    margin-right: 60px;
}

#lift p, #lift li {
    font-size: 16px;
}

#lift .table-bordered td {
    padding: 68px 55px 21px 58px;
}

#lift .lift-description ul li {
    font-family: OpenSans, sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    padding: 0;
    padding-bottom: 10px;
}

@media only screen and (max-width: 1200px) {

    .big-platform{
        width: 40%;
        display: block;
        margin: 0 auto;
        padding-top: 5px!important;
    }

    .lease .nav-item .active{
        padding-right: 36px;
        padding-left: 36px;
    }


}



@media only screen and (max-width: 991px) {

    #platform .btn {
        display: block;
        float: initial;
        margin: 0 auto;
        margin-top: 10px;
    }

    #lift .lift-description img {
        padding-bottom: 20px;
    }

    .lease .nav-link{
        padding-left: 13px!important;
        padding-right: 13px!important;
        font-size: 14px;
    }

}

@media only screen and (max-width: 768px) {

    #platform img {
        margin: 0 auto;
        display: block;
        margin-bottom: 10px;
    }

    #platform .info {
        text-align: center;
    }

    #lift .desc ul li {
        text-align: left;
    }

    .lease .nav-link{
        font-size: 16px;
    }
    .nav{
        display: block;
    }

}

@media only screen and (max-width: 576px) {

    #lift .lift-description img {
        width: 90%;
    }

}


@media only screen and (max-width: 400px) {
    #lift .lift-description ul li {
        font-size: 10px;
    }

}

@media only screen and (max-width: 340px) {
    #platform .row img {
        height: 150px;
        width: 200px;
    }

}
