.order {
    margin-top: 20px;
}
.order form {
    padding: 31px 61px 30px 80px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px 0 rgba(132, 132, 132, 0.5);
}
.order-form h3{
    padding-top: 22px;
}
form .order a {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    color: #4a90e2;
    text-decoration: underline;
}
.order .inputs{
    padding-right: 19px;
}
.order .message{
    padding-left: 10px;
}
form textarea{
    height: 195px;
}

form .btn{
    margin-top:5px;
}
form .btn-primary{
    padding-left: 42px;
    padding-right: 42px;
}
.order-form {
    padding-bottom: 70px;
}
