.question {
    position: relative;
}

.question .icons {
    font-size: 24px;
    color: #4a90e2;
    position: absolute;
    left: 24px;
    top: 15px;
}

.question .name, .question .date {
    color: #000000;
    display: inline-block;
    padding-right: 32px;
    margin-left: 70px;
    margin-bottom: 8px;
}

.question .date {
    margin-left: 0;
}

.question .text {
    margin-left: 70px;
    margin-bottom: 10px;
    font-weight: 600;
}

.answer {
    margin-left: 70px;
    display: none;
    margin-top: 20px;
}

.answer .name {
    color: #3149a8;
    font-weight: 600;
    margin-bottom: 0;
}

.answer .text {
    color: #413f54;
}

.question-form {
    margin-top: 62px;
    margin-bottom: 70px;
}
.question-form h3{
    padding: 10px 0 10px 0;
}

.text{
    color: #000000;
}
.question-form .btn-primary {
    margin-top: 7px;
}
.question-form textarea{
    height: 117px;
}
.question-fields {
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px 0 rgba(132, 132, 132, 0.5);
    padding: 31px 57px 30px 64px;
}

.question-form .inputs{
    padding-right: 28px;
}

.question-form .message {
    margin-left: 15px;
}

.question-form h3 {
    font-size: 18px;
}


@media only screen and (max-width: 992px) {

    .question-form .btn-primary {
        display: block;
        float: initial;
        margin: 0 auto;
    }

    .question-form .message, .question-form .name, .question-form .email {
        margin-right: 0;
        margin-left: 0;
    }

}

@media only screen and (max-width: 576px) {

    .question .date {
        display: inherit;
        margin-left: 70px;
    }


}




