.key {
    background-image: url(../img/key.png);
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 117px;
}

.repairs {
    padding-bottom: 100px;
}

.repairs p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #303030;
}

.repairs ul {
    padding-left: 0;
}

.repairs ul li {
    list-style-type: none;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    color: #303030;
    padding-left: 40px;
    position: relative;
}

.repairs ul li:before {
    content: '•';
    position: absolute;
    left: 15px;
}

.tel-bold {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #2f46ab;
}

.repair-bold {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}


@media only screen and (max-width: 1274px) {
    .key {
        background-position-x: 113%;
    }
}
@media only screen and (max-width: 1145px) {
    .key {
       background-image: none;
    }
}